body {
  background-color: #FEFBF6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  width: 100vw;
  background-color: #8CB9BD;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  top:0;
  padding: 14px;
  position: absolute;
}

.navigation-header {
  font-size: 18px;
  color: #FEFBF6;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-image {
  margin-bottom: 14px;
  height: 42%;
}
