.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brigade-img {
    height: 300px;
    width: 300px;
    border: solid white 5px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.text-for-photo {
    font-family: "Merriweather", serif;
    font-size: 30pt;
    font-weight: 700;
    font-style: italic;
    color: white;
}

